name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
        cache: true

    - name: Install dependencies
      run: go mod download

    - name: Build
      run: go build -v ./cmd/rdbms/...

    - name: Run Tests
      # Using -count=1 to bypass cache and ensure a clean run
      run: go test -v -count=1 ./...
